body {
    background-color:coral;
}

.job-done {
    background-color: green;
}

.circle {
    width: 30px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 50%;
}

.boxAll {
    /* display: flex; */
    display: inline;
}

.circle2 {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50% 50%;
}